*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height;
  box-sizing: border-box;
}
.clear{
  clear: both;
}